null.d
build-qtcreator/*
cmake-build-debug/*
.idea/*
*.slo
*.lo
*.o
*.obj
build/*
moc_*
qrc*
Makefile
.qmake.stash
*.user
ui_*.h
writernote_autogen/*
build/*
CMakeFiles/*
CMakeCache.txt
.qtc_clangd/
.qt/
build-qtcreator/*
.idea/
.vscode/*
cmake_install.cmake
result_memcheck.txt
