[submodule "3rdparty/libzip"]
	path = 3rdparty/libzip
	url = https://github.com/nih-at/libzip
[submodule "3rdparty/zlib-ng"]
	path = 3rdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng/
[submodule "3rdparty/android_openssl"]
	path = 3rdparty/android_openssl
	url = https://github.com/KDAB/android_openssl
[submodule "3rdparty/poppler"]
	path = 3rdparty/poppler
	url = https://github.com/freedesktop/poppler
