.cache
.cache/*
null.d
build-qtcreator/*
cmake-build-debug/*
cmake-build-debug-coverage/*
.idea/*
*.slo
*.lo
*.o
*.obj
build/*
moc_*
qrc*
Makefile
.qmake.stash
*.user
ui_*.h
writernote_autogen/*
build/*
CMakeFiles/*
CMakeCache.txt
.qtc_clangd/
.qt/
build-qtcreator/*
.idea/
.vscode/*
cmake_install.cmake
result_memcheck.txt
writernote_*.snap
3rdparty/libzip
3rdparty/poppler
3rdparty/freetype
3rdparty/mozjpeg
3rdparty/libpng
3rdparty/openjpeg
3rdparty/openjpeg.tar.gz
.DS_Store
