[Desktop Entry]
Name=Writernote
Comment=Take notes smart
Exec=writernote %f
Icon=com.github.giacomogroppi.writernote-qt
MimeType=application/w-writer;
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;Utility;TextEditor;