[Desktop Entry]
Name=Writernote
Comment=Take notes smart
Exec=writernote
Icon=writernote.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;Utility;TextEditor;