[Desktop Entry]
Name=Writernote
Comment=Take notes smart
Exec=writernote
Icon=${SNAP}/meta/gui/writernote-second-icon.png
Terminal=false
Type=Application
Encoding=UTF-8
MimeType=application/zip;
Patterns=*.writer;
Categories=Network;Application;Utility;TextEditor;